<?xml version="1.0" encoding="UTF-8"?>
<beans 
		xmlns="http://www.springframework.org/schema/beans" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="
				http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
				
				 ">
		<!-- 6.配置事务TransactionManager -->
		<!-- 6.1 定义事务管理器 -->
		<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource"/>
		</bean>	 
		<!-- 6.2 通过 注解配置事务 -->
		<!-- <tx:annotation-driven/> -->
		<!-- 6.2通过  通知+织入的方式配置事务 -->
		<!-- 6.2.1配置通知 -->
		<tx:advice id="transactionInterceptor" transaction-manager="transactionManager">
			<tx:attributes>
				<tx:method name="*" propagation="REQUIRED"/>
				<tx:method name="login" propagation="SUPPORTS"/>
			</tx:attributes>
		</tx:advice>
		<!-- 6.2.1配置织入 -->
		<aop:config>
			<!-- 配置切点 -->
			<aop:pointcut expression="execution(* service.impl.*ServiceImpl.*(..))" id="pc"/>
			<aop:advisor advice-ref="transactionInterceptor" pointcut-ref="pc"/>
		</aop:config>
</beans>
