<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 不是mybatis官方提供的 是第三方的 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="helperdialect" value="mysql"/>
			<property name="offsetAsPageNum" value="true"/>
			<property name="rowBoundWithCount" value="true"/>
			<property name="pageSizeZero" value="true"/>
			<property name="reasonable" value="true"/>
			<property name="params" value="pageNum=pageHelperStart;pageSize=pageHelperRows;"/>
			<property name="returnPageInfo" value="true"/>
		</plugin>
	</plugins>

</configuration>
